
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>HUST_University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Chào mừng đến với HUST_University</h2>
        <p>
            Trường đại học khoa học và công nghệ Hà Nội
            (HUST) là một trong những trường đại học hàng đầu tại Việt Nam,
            được biết đến với sự tập trung mạnh mẽ vào khoa học và công nghệ.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Thông tin</h2>
        <p>HUST BUILDING</p>
        <p><a class="btn btn-default" href="https://www.hust.edu.vn/">Địa chỉ Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chào mừng đến với Lớp Kỹ thuật phần mềm</h2>
        <p>Truy cập</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/groups/20221et3260137269">Lớp học của tôi &raquo;</a></p>
    </div>
</div>
